#tarjeta1 {
    width: 50%;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    height: auto;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
}
#logoRegistrar {
    width: 100%;
    height: auto;
}
#buttonCrear {
    background-color: #8cccaa;
    border-color: #707070;
    width: 100%;
}
#buttonCrear:hover {
    background-color: #36e086;
    border-color: #707070;
    color: ivory;
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
    filter: none;
}
@media screen and (max-width: 600px) {
    #tarjeta1 {
        width: 100%;
        filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
        height: auto;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 0%;
    }
}
@media screen and (max-width: 600px) {
    #buttonCrear {
        background-color: #8cccaa;
        border-color: #707070;
        width: 100%;
    }
}
#btn-login {
    color: black;
}
