#tarjeta{

    width: 100%;
    margin-top: 30%;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}

#logoRegistrar{
    width: 100%;
    height: auto;
}
#imagenresgistrar{
    width: 40%;
    height: auto;
}

#buttonCrear{
    margin-top: 72.5%;
    float: right;
    background-color:#8CCCAA; 
    border-color:#707070;
    width: 70%;
}
#buttonCrear:hover{
    background-color:#36e086; 
    border-color:#707070;
    color: ivory;
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
    filter: none;
}
#subirFoto{
    background-color: #f1f1f1;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
    border-color: black;
   
    
}
label[for="subirFoto"] {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background-color: #106BA0;
    display: inline-block;
    transition: all .5s;
    cursor: pointer;
    padding: 15px 40px !important;
    text-transform: uppercase;
    width: fit-content;
    text-align: center;
    }